@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.item-book{
  @apply w-44 h-72 hover:scale-150 duration-200 cursor-pointer
}
.nav-item{
  @apply bg-black p-3 px-5 rounded-md cursor-pointer hover:bg-green-600 duration-200
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}